@page "/"

<PageTitle>Get Job Helper</PageTitle>

<div class="container-fluid">
    <h3>I made this Webapp to manage me sending application and looking for new job in IT. </h3>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>I planed to implement functions like:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>• List of recruiters to whom I send a message</td>
            </tr>
            <tr>
                <td>• Message templates for the HR</td>
            </tr>
            <tr>
                <td>• List of jobs to which I have applied and their statuses</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <NavLink class="nav-link" href="recruiter">👉👉Recruiters👈👈</NavLink>
        </div>
        <div class="col-md-auto">
            <NavLink class="nav-link" href="#">👉👉Templates👈👈</NavLink>
        </div>
        <div class="col-md-auto">
            <NavLink class="nav-link" href="#">👉👉Jobs👈👈</NavLink>
        </div>
    </div>
</div>